#portfolio{
    margin: 5rem auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.portfolioTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.portfolioDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.portfolioImgs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
}

.cards{
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.portfolioImg{
    object-fit: cover;
    height: 15rem;
    margin: 1.5rem;
    margin-top: 4rem;
    /* backface-visibility: hidden; */
}

.theback{
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolioBtn{
    margin-top: 0.5rem;
    height: 3rem;
    width: 5rem;
    background: yellow;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cards:hover{
    transform: rotateY(180deg);
}

/* .portfolioBtn{
    padding: 0.5rem 2.5rem;
    border: none;
    background: white;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 3rem 0;
} */

@media screen and (max-width:585px) {
    .portfolioImg{
        height: 48vw;
    }
}